<script src="{{ ASSETS_ROOT }}/js/vendor-all.min.js"></script>
<script src="{{ ASSETS_ROOT }}/plugins/jquery/js/jquery.min.js"></script>
<script src="{{ ASSETS_ROOT }}/plugins/jquery-ui/js/jquery-ui.js"></script>
<script src="{{ ASSETS_ROOT }}/plugins/jquery-scrollbar/js/jquery.scrollbar.min.js"></script>
<script src="{{ ASSETS_ROOT }}/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="{{ ASSETS_ROOT }}/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/pcoded.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/dark-mode.js"></script>
