{% extends "layouts/base.html" %}
{% load static %} <!-- Add this line to load static files -->

{% block title %} Add Device {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Add New Device</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="javascript:">Add New Device</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <form method="post" id="device-form">
                                {% csrf_token %}


                                <div class="card">

                                    <div class="card-header">
                                        <h5>Basic Attributes</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12 col-xl-6">
                                                <div class="form-group">
                                                    {{ form.name.label_tag }}
                                                    {{ form.name }}
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-xl-6">
                                                <div class="form-group">
                                                    {{ form.description.label_tag }}
                                                    {{ form.description }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Location</h5>
                                    </div>
                                    <div class="card-body">
                                        <label for="use_coordinates">Use Coordinates:</label>
                                        <input type="checkbox" id="use_coordinates"
                                               name="use_coordinates">
                                        <br>
                                        <br>
                                        <div id="address_field" class="form-group">
                                            <label for="geocoder">Address:</label>

                                            <div id="geocoder"></div>
                                            <br>
                                            <div id="map" style="height: 400px;"></div>
                                        </div>

                                        <div id="coordinates_field" class="form-group"
                                             style="display:none;">
                                            <div class="row">
                                                <div class="col-lg-12 col-xl-6">
                                                    {{ form.latitude.label_tag }}
                                                    {{ form.latitude }}
                                                </div>
                                                <div class="col-lg-12 col-xl-6">
                                                    {{ form.longitude.label_tag }}
                                                    {{ form.longitude }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Network</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            {{ form.ip_address.label_tag }}
                                            {{ form.ip_address }}
                                        </div>
                                        <button type="submit" name="add-device" class="btn btn-primary">
                                            Submit
                                        </button>
                                    </div>
                                </div>

                                <!-- Ports Section -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Ports</h5>
                                    </div>
                                    <div class="card-body">
                                        <div id="ports-container">
                                            <div class="form-group port-entry">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <label for="port">Port Number:</label>
                                                        <select class="form-control port-number" name="port">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <!-- Add more port options as needed -->
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="device_name">Connected Device:</label>
                                                        <input type="text" class="form-control device-name"
                                                               name="device_name">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary" id="add-port-btn">Add Intra Port
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css' rel='stylesheet'/>
    <link href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css'
          rel='stylesheet'/>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js'></script>

    <script src="{% static 'assets/js/devices/add-device.js' %}"></script>
{% endblock javascripts %}