{% extends "layouts/base.html" %}
{% load static %}


{% block title %} Device List {% endblock %}

{#<!-- Specific CSS goes HERE -->#}
{#{% block stylesheets %}#}
{#    <style>#}
{#        .device-status {#}
{#            font-size: 10px;#}
{#        }#}
{##}
{#        .mapboxgl-popup {#}
{#            width: 400px;#}
{#        }#}
{##}
{#        .mapboxgl-popup-content {#}
{#            text-align: center;#}
{#            font-family: 'Open Sans', sans-serif;#}
{#        }#}
{#    </style>#}
{#{% endblock stylesheets %}#}

{% block content %}
    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Device List</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="javascript:">Device List</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->

                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="row">
                                <!-- [ Devices Table ] start -->
                                <div class="col-md-6">
                                    <h4>Devices</h4>
                                    <br>
                                    <div class="table-border-style">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Name</th>
                                                    <th>Color</th>
                                                    <th>Description</th>
                                                    <th>IP Address</th>
                                                    <th>Status</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for device in devices %}
                                                    <tr>
                                                        <th scope="row">{{ device.id }}</th>
                                                        <td>{{ device.name }}</td>
                                                        <td>{{ device.description }}</td>
                                                        <td>{{ device.ip_address }}</td>
                                                    </tr>
                                                {% empty %}
                                                    <tr>
                                                        <td colspan="4">No devices found.</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ Devices Table ] end -->

                                <!-- [ Network Map ] start -->
                                <div class="col-md-6">
                                    <h4>Network Map</h4>
                                    <hr>
                                    <div id="map" class="set-map" style="height:400px;"></div>
                                </div>
                                <!-- [ Network Map ] end -->
                            </div>
                        </div>
                        <!-- [ Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block javascripts %}
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css' rel='stylesheet'/>
    <script>
        var devicesData = {{ devices_json | safe }};
    </script>
    <script src="{% static 'assets/js/devices/list-devices.js' %}"></script>
{% endblock javascripts %}
