{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Find Path {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <style>
        /* Add shadow effect to node text */
        .node-text {
            --stroke-color: white;
            --stroke-width: 1px;
            fill: black;
            text-shadow: var(--stroke-width) 0 0 var(--stroke-color),
            calc(var(--stroke-width) * -1) 0 0 var(--stroke-color),
            0 var(--stroke-width) 0 var(--stroke-color),
            0 calc(var(--stroke-width) * -1) 0 var(--stroke-color);
            font-size: 12px;
            font-weight: bold;
            pointer-events: none; /* Ensure text doesn't interfere with mouse interactions */
        }
    </style>
{% endblock stylesheets %}


{% block content %}
    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Create Connection</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="javascript:">Create Connection</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">

                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- [ Main Content ] start -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Connection Information</h5>
                                        </div>

                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="tp-a">Termination Point A</label>
                                                            <select class="form-control" id="tp-a">
                                                                <option value="">-- Select Termination Point --</option>
                                                                {% for tp in termination_points %}
                                                                    <option value="{{ tp.id }}">{{ tp.name }}
                                                                        - {{ tp.description }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="tp-b">Bandwidth [GHz]</label>
                                                            <input type="number" class="form-control" id="bandwidth"
                                                                   placeholder="Bandwidth [GHz]">
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-md-6">
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="tp-b">Termination Point B</label>
                                                            <select class="form-control" id="tp-b">
                                                                <option value="">-- Select Termination Point --</option>
                                                                {% for tp in termination_points %}
                                                                    <option value="{{ tp.id }}">{{ tp.name }}
                                                                        - {{ tp.description }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="tp-b">Frequency [GHz] (Optional)</label>
                                                            <input type="number" class="form-control" id="frequency"
                                                                   placeholder="Frequency [GHz]">
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-md-12">
                                                    <button class="btn btn-primary float-left" id="compute-btn">
                                                        Compute Connection Options
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" id="results-row" style="display: none">
                                        <div class="col-sm-12">
                                            <h5>Path Options</h5>
                                            <hr>
                                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            </ul>
                                            <div class="tab-content" id="myTabContent">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block javascripts %}
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css' rel='stylesheet'/>
    <link href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css'
          rel='stylesheet'/>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js'></script>
    <script src="{% static 'assets/js/map/main.js' %}"></script>
    <script src="{% static 'assets/js/graph/main.js' %}"></script>
    <script src="{% static 'assets/js/map/network.js' %}"></script>
    <script src="{% static 'assets/js/connection/tabs.js' %}"></script>

    <script>
        let paths;
        const tpA = document.getElementById('tp-a');
        const tpB = document.getElementById('tp-b');
        const calculateBtn = document.getElementById('compute-btn');

        // Function to handle the AJAX request and update the graph and map
        function computeConnection() {
            // Make AJAX request to the Django view
            $.ajax({
                type: 'POST',
                url: '/find-path/',
                data: {
                    'tp_a': tpA.value,
                    'tp_b': tpB.value
                },
                success: function (response) {
                    paths = response;
                    document.getElementById('results-row').style.display = 'block';
                    updateTabsAndContent(response);
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        }

        // Button click event to calculate path
        calculateBtn.addEventListener('click', computeConnection);
    </script>
{% endblock javascripts %}
